body {
	background-color: #ff1997;
	color:white;
	font-size:48px;
	font-family: Helvetica;
	padding: 50px;
}

.right {
	float:right;
	width: 60%;
}

/* style our input so it looks gooood */
input, input:focus {
  border: 0;
  outline: 0;
  border-bottom: 2px solid white;
  width: 25%;
  font-size: 30px;
  line-height: 35px;
  height: 70px;
  text-align: center;
  padding: 10px;
  background: transparent;
  color: white;
}

/* remove annoying spinners on the input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* placeholder text color, why not... */
::placeholder {
  color: white;
}

button{
	background-color: #ce19ff;
	color: white;
	font-family: Helvetica;
	font-size: 30px;
	border:none;
	padding: 10px;
	margin: 20px;
}

button:hover{
	background-color: #e175ff;
}
